.header{
	background: url('../images_works/Dinoka.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	background-attachment: fixed;
	height: 100vh;
	color: #000000;
	text-transform: uppercase;
}